 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap'); 

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-style: none;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    
   
}
ul{
    list-style: none;
}

body{
    background-color: black;
    color: white;
}

header{
    position: fixed;
display: flex;
justify-content: space-between;
background-color: black;
color: white;
align-items: center;

padding: 10px;
border-bottom: 1px solid red;
width: 100%;
}

.navegacao{
    margin-right: 150px; 
    display: flex;
    gap: 60px;
    
    
}

.navegacao a:hover{
   color: red;
   border-bottom: 1px solid red;
   transition-delay: 0.8ms;
   font-size: 1.2em;
}

.branco{
    color: white;
    font-weight: bold;
    
}


h1 span{
    color: red;
    
}

.nome{
   
    margin-left: 100px;
}


.logo{
     text-align:center;
    max-width: 50px;
    max-height: 50px;
   
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secao1{
    padding-left: 100px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.texto1{
    font-size: 3em;
    
}

.texto{
    text-align: justify;
    font-size: 1.2em;
    display: flex;
    max-width: 550px;
    line-height: -100px;
}

.nogain{
    padding-left: 12px;
   
}

.imagem-principal{
        height: 900px;
       padding-right: 200px;
       
        
}

a{
    text-decoration: none;
}


.quadrado{
    margin:auto;
    max-width: 950px;
    height: 300px;
    background-color:black;
    display: flex;
    justify-content: center;
}

h2{
    font-size:1.7rem
}

.botao{
   cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    font-weight: bold;
    text-align: center;
}

.botao1{
    margin-left: 85px;
}

.botao2{
    margin-left: 90px;
}

.sub-titulo{
    font-size: 28px;
    text-align: center;
   margin-right: 30px;
   padding-bottom: 20px;
}

.quadro{
    width: 300px;
    border-right: 1px solid black;
}

.quadro2{
    width: 300px;
}

li{
    text-align: center;
    margin-right: 20px;
    font-size: 1.04rem;
}
/*


}
*/

.imagens{
   
   display:flex;
   justify-content: center;
   align-items: center;
}

.alinhamento-imagens{
   margin-bottom: 10px;
    display: flex;
   max-width: 400px;
    box-sizing: border-box;
    margin-right: 10px;
}

.espacamento{
    padding-bottom: 50px;
}

.container2{
    padding-top: 40px;
    width: 100%;
    height: 600px;
    margin: auto;
    background-color:black;
    text-align: center;
}



.imagens2{
   cursor: pointer;
    height: 300px;
    border: none;
    margin-right: 10px;
    
   
}




.imagensz{
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    display:flex;
}



.titulo{
    text-align: center;
    font-size: 5rem;
    border-bottom: 2px solid white;
}



.matricula{
    display:flex;
    justify-content: center;
    text-align: center;
}

.butao{
    border:3px solid white;
    color: white;
    background-color: black;
    padding:20px;
    font-size: 4rem;
    border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  
}

.butao:hover{
    background-color: red;
    font-size: 4.2rem;
    

}



.imagens3{
   
    height: 500px;
    border: none;
    margin-right: 10px;
    
   
}

.planos{
    text-align: center;
}

footer{
    border-top: 1px solid red;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

@media (max-width: 1770px){
   

    .imagem-principal{
        height: 700px;
       padding-right: 200px; 
    }

    
}

@media (max-width: 1600px){
    body{
        color: pink;
    }

    .imagens3{
        height: 470px;
    }
}

@media (max-width: 1580px){
    body{
        color: green;
    }

    .navegacao{
        
        display: flex;
        gap: 60px;
        
    }

   .imagem-principal{
    padding-right: 50px;
   }

    
}

@media (max-width: 1515px){
    body{
        color:red;
    }

    .imagens3{
        height: 400px;
    }
}


@media (max-width: 1415px){
    body{
        color:white;
    }

    .imagem-principal{
        margin-right: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 1375px){
    body{
        color:brown;
    }

    .secao1{
        padding-left: 50px;
    }
    .imagem-principal{
        height: 650px;
    }
}

@media (max-width: 1335px){
    body{color: gray
    }

    .secao1{
        padding-left: 50px;
        max-width: 520px;
    }

    .imagens3{
        height: 350px;
    }
}

@media (max-width: 1300px){
    body{
        color: white;
    }


    .secao1{
        max-width:500px;
        padding-left: 50px;
    }
}


@media (max-width:1270px){
    body{
        color:blue;
    }

    .secao1{
        padding-top: 30px;
    }
   
    .imagem-principal{
        margin-top: 10px;
        height: 600px;
    }
}


@media (max-width: 1270px){

    .alinhamento-imagens{
         
            max-width: 350px;
    }
}


@media (max-width: 1220px){
    body{
        color: red;
    }

    .secao1{
        max-width: 480px;
        text-align: left;
       font-size: 15px;
    }

}

@media (max-width:1150px){
body{
    color:white;
}
.secao1{
    max-width: 380px;
    font-size: 13px;
}
.imagens3{
    height: 300px;
}
.alinhamento-imagens{
    max-width: 300px;
}
.imagem-principal{
    height:  600px;
}

}

@media(max-width: 1055px){
    body{
        color: purple;

    }

    .container2{
        height: 450px;
       }

    .imagem-principal{
        margin-top: 40px;
    }

    .logo{max-width: 40px;

    }
    .nome{
        font-size: 26px;
    }
    .texto1{
        margin-top: 70px;
    }
    .alinhamento-imagens{
        height: 250px;
    }
    .imagem-principal{
        height: 550px;
    }
    .secao1{
        font-size: 12px;
    }
    
    .imagens3{
        height: 250px;
    }

    .imagens2{
        height: 250px;
    }

    .titulo{
      font-size: 4rem;
    }
}

@media(max-width: 1000px){
    body{
        color:aqua;
    }
    .imagem-principal{
        margin-top: 60px;
    }

    .logo{
        margin-right:20px;
        margin-left:20px;
    }

    .imagem-principal{
        height: 500px;
    }
}

@media(max-width: 950px){
    body{
        color: white;
    }
    
    .imagem-principal{
        margin-top: 50px;
    }

    .nome{
        margin-left: 80px;
    }

    .imagem-principal{
        padding-top: 10px;
        height:450px;
    }

    .imagens2{
        max-width: 240px;
    }

    .imagens3{
        height: 240px;
    }
}

@media(max-width:910px){
    body{
        color: yellow;
    }

    .secao1{
        font-size: 11px;
        max-width: 360px;
    }

    .imagem-principal{
        height: 400px;
    }

   
    

    .imagens2{
        max-width:250px;
    }
}

@media(max-width: 880px){
    body{color:green;
    }
    .imagens2{
        max-width: 230px;
    }

    .imagens3{
        max-width: 230px;
    }

    .sub-titulo{
        font-size: 20px;
     }
     li{
        font-size: 14px;
     }
}

@media (max-width: 860px){
    body{
        color: white;
    }
    .imagem-principal{
        height:380px;
    }

    .alinhamento-imagens{
        height: 230px;
    }

    .imagens2{
        height: 220px;
    }

    .imagens3{
        height:220px
    }

    .navegacao{
        gap: 50px;
    }

    
}

@media (max-width: 840px){
    body{color: blue
    }
    .nome{
        margin-left: 60px;
    }
    .imagem-principal{
        height: 360px;
    }
}

@media (max-width: 820px){
.imagens2{
    height: 210px;
}

.imagens3{
    height: 210px;
}

.titulo{
    font-size: 44px;
}

.sub-titulo{
    font-size: 20px;
}

.botao1{
    margin-left: 70px;
}

.botao2{
    margin-left: 80px;
}

.botao{
    padding:4px;
    
}
}

@media (max-width: 800px){
    .nome{
        font-size: 22px;
    }
    .logo{
        height: 30px;
    }

    .branco{
        font-size: 17px;
    }

    .imagem-principal{
        height: 320px;
    }


}

@media (max-width: 780px){
    .branco{
        font-size: 16px;
    }

    .secao1{
        
        font-size: 10px;
    }

    .alinhamento-imagens{
        height: 210px;
    }

    .imagens2{
        height: 200px;
    }

    .imagens3{
        height: 200px;
    }
}

@media (max-width: 760px){
    .secao1{
        max-width: 340px;
    }

    .branco{
        font-size: 15px;
    }
}

@media (max-width: 740px){
    .imagem-principal{
        
        max-width: 300px;
    }
    
    .branco{
        font-size: 14px;
    }

  .alinhamento-imagens{
    height: 200px;
  }

  .secao1{
    max-width: 330px;
  }

  .imagens2{
    max-width: 200px;
  }

  .imagens3{
    max-width: 200px;
  }
}


@media (max-width: 720px){
    .secao1 {
        font-size: 9px;
    }

    .imagem-principal{
        height: 290px;
    }
    .nome{
        font-size: 19px;
        margin-left: 50px;
    }

    .logo{
        height: 27px;
    }

    .imagens2{
        height: 190px;
    }

    .imagens3{
        height: 190px;
    }
     .sub-titulo{
        font-size: 18px;
     }
     li{
        font-size: 12px;
     }
}

@media (max-width: 700px){
    body{
        color: white;
    }
        .imagem-principal{
            height: 280px;
        }
        .secao1{
            max-width: 320px;
            padding-left: 45px;
        }
        .branco{
            font-size: 13px;
        }
    }


@media (max-width: 680px){
    body{
        color: gray;
    }
    .navegacao{
        gap: 40px;
    }
    .imagem-principal{
        height: 280px;
    }
    .secao1{
        max-width: 300px;
    }
    h4{
        font-size: 13px;
    }    
    .alinhamento-imagens{
        height: 190px;
    }

    .imagens2{
        height: 180px;
    }

    .imagens3{
        height: 180px;
    }
}


@media (max-width: 660px){
    body{
        color: red;
    }

    .branco{
        font-size: 12px;
    }
    .secao1{
        font-size: 8px;
        max-width: 280px;
    }
}

@media (max-width: 640px){
    body{
        color: green;
    }
    .container2{
        height: 300px;
       }

    .nome{
        font-size: 18px;
    }
    .imagem-principal{
        height: 270px;
    }

    .imagens2{
        height: 170px;
    }

    .imagens3{
        height: 170px;
    }

    .alinhamento-imagens{
        height: 180px;
    }
}

@media (max-width: 620px){
    body{
        color: pink;
    }

    .branco{
        font-size: 11px;
    }

    .secao1{
        max-width: 270px;
    }

    .navegacao{
        gap: 35px;
    }

    .imagem-principal{
        height: 260px;
    }
}

@media (max-width: 600px){
    body{
        color: blue;
    }
    .butao{
        font-size: 40px;
      }

      .butao:hover{
        font-size: 42px;
      }

    .imagens2{
        height:160px;
    }

    .imagens3{
        height: 160px;
    }

    .alinhamento-imagens{
        height: 170px;
    }

    .branco{
        font-size: 10px;
    }

    .secao1{
        font-size: 7px;
        max-width: 260px;
    }

    .imagem-principal{
        height: 250px;
    }
    h4{
        font-size: 12px;
    }
}

@media (max-width: 580px){
    body{
        color: brown;
    }
    .imagem-principal{
        height: 240px;
    }

    .secao1{
        max-width: 240px;
    }

    .imagens2{
        height: 150px;
    }

    .imagens3{
        height: 150px;
    }
    .alinhamento-imagens{
        height: 160px;
    }

    h4{
        font-size: 11px;
    }

    .nome{
        margin-left: 40px;
    }
}

@media (max-width: 560px){
    body{color: white;
    }
    .imagens2{
        height: 140px;
    }
.imagens3{
    height: 140px;
}
.alinhamento-imagens{
    height:150px;
}

.branco{
    font-size: 10px;
}

.navegacao{
    gap:30px;
}
.imagem-principal{
    height: 230px;
}

.secao1{
    max-width: 230px;
}
}

@media (max-width: 540px){
    body{color: pink;
    }
    .secao1{
        font-size: 6px;
    }
.branco{font-size: 9px;
}
  .secao1{
    max-width: 210px;
  }
  .nome{
    margin-left: 30px;
  }

  .imagem-principal{
    height: 220px;
  }

  .navegacao{
    gap: 25px;
  }

  .imagens2{
    height: 130px;
  }

  .imagens3{
    height: 130px;
  }

  .alinhamento-imagens{
    height: 140px;
  }

 
}

@media (max-width: 530px){
    .imagem-principal{
        height: 200px;
    }
    

    .secao1{
        padding-left: 15px;
        max-width: 260px;
        font-size: 5px;
    }

    .alinhamento-imagens{
        max-width: 110px;
    }

    .imagens3{
        height: 90px;
    }

    .imagens2{
        height: 90px;
    }

    h4{
        font-size: 7px;
    }

    
   .quadro li{
    font-size: 10px;
   }

   .quadro2 li{
    font-size: 10px;
   }

   .sub-titulo{
    font-size: 13px;
   }

   .botao{
    margin-left: 13px;
    font-size: 11px;
   }

  .branco{
    display: block;
  }

  .navegacao:hover{
    font-size: 8px;
  }
 
.nome{
    margin-left: 18px;
    font-size:13px;
}

.logo{
    height: 26px;
}

.quadrado{
    height: 200px;
}
  




}
